@model Library.MVC.Models.IndexBookViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-actions no-color">
        <p>
            Find: <input type="text" class="form-control" asp-for="CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th><a asp-action="Index" asp-route-sortOrder="@Model.TitleSortParam">Titel</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@Model.AuthorSortParam">Författare</a></th>
            <th>Beskrivning</th>
            <th>Exemplar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="AuthorInfo" asp-route-id="@item.Author.Id"> @Html.DisplayFor(modelItem => item.Author.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="CopyInfo" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Copies.Count)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
